altgraph==0.17.4
bpy==3.6.0
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
Cython==3.0.8
idna==3.6
loguru==0.7.2
numpy==1.26.4
packaging==23.2
pefile==2023.2.7
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.1
pywin32-ctypes==0.2.2
requests==2.31.0
urllib3==2.2.1
win32-setctime==1.1.0
zstandard==0.22.0
